@use '../../../../variables' as v;

.wall {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  .create-post {
    display: flex;
    align-items: center;
    margin-top: 32px;
    width: v.$postWidth;

    .my-avatar {
      background-position: center;
      background-size: cover;
    }

    input {
      margin-left: 16px;
      background-color: #272729;
      border-radius: 4px;
      border: 1px solid #272729;
      flex-grow: 1;
      height: 38px;
      margin-right: 8px;
      outline: none;
      padding: 0 16px;
    }
  }
}