<div
  *ngIf="isLoadingPosts"
  class="loading-container"
>
  <mat-spinner
    [diameter]="160"
  ></mat-spinner>
</div>
<div
  class="wall"
  *ngIf="!isLoadingPosts"
>
  <div class="container">
    <mat-card class="create-post">
      <div
        mat-card-avatar
        class="my-avatar"
        [style.background-image]="'url(' + (profile?.img || environment.appURL + 'assets/user-avatar.webp') + ')'"
      ></div>
      <input placeholder="Create post" [routerLink]="['new-post']">
    </mat-card>

    <app-post
      *ngFor="let post of serverPosts"
      [post]="post"
      [routerLink]="[post.slug]"
    ></app-post>
  </div>

  <app-widgets></app-widgets>
</div>
