.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;

    &:hover, &:active {
      border-bottom: 4px solid white;
    }

    &.is-active {
      color: rgb(88, 101, 242);
      border-bottom: 4px solid rgb(88, 101, 242);
    }
  }
}