<a [routerLink]="group.id">
  <mat-card class="group">
    <mat-card-header 
      class="group-header"
      [style.background-image]="'url(' + (group?.background || environment.appURL + 'assets/generic.jpg') + ')'"
    >
      <div
        mat-card-avatar
        class="avatar-image"
        [style.background-image]="'url(' + (group?.img || environment.appURL + 'assets/group.jpg') + ')'"
      ></div>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>{{ group.name }}</mat-card-title>
      <mat-card-subtitle>{{ group.description }}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</a>
